<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tairui.server.mapper.ThHistoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tairui.server.entity.ThHistory">
        <id column="id" property="id" />
        <result column="cabinet_id" property="cabinetId" />
        <result column="cabinet_title" property="cabinetTitle" />
        <result column="temperature" property="temperature" />
        <result column="humidity" property="humidity" />
        <result column="create_time" property="createTime" />
    </resultMap>

</mapper>
