node_modules/
.DS_Store
Thumbs.db

dist/
release/
extraResources/
server/
*.log

.idea/
*.iws
*.iml
*.ipr
out/

.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json